version: 2.1
jobs:
  build-and-export:
    working_directory: ~/resume
    docker:
      - image: cimg/node:21.6.2-browsers
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}-v3
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}-v3
          paths:
            - ./node_modules
            - ~/.cache
      - run:
          name: Build & Export
          command: npm run export
      - store_artifacts:
          path: dist/Resume.pdf
          destination: Resume.pdf
      - store_artifacts:
          path: dist/Resume.jpg
          destination: Resume.jpg
      - persist_to_workspace:
          root: dist
          paths:
            - Resume.pdf
            - Resume.jpg
  release-pdf:
    working_directory: ~/resume
    docker:
      - image: cimg/go:1.22.1
    steps:
      - attach_workspace:
          at: dist
      - run:
          name: "Publish Release on GitHub"
          command: |
            go install github.com/tcnksm/ghr@latest
            VERSION=latest
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./dist
  release-jpg:
    working_directory: ~/resume
    docker:
      - image: cimg/aws:2024.03
    steps:
      - attach_workspace:
          at: dist
      - run:
          name: "Upload Resume to S3"
          command: aws s3 cp ./dist s3://eric.kraw.cz/img --recursive
  bust-github-image-cache:
    working_directory: ~/resume
    docker:
      - image: cimg/base:2024.02
    steps:
      - run:
          name: "Bust GitHub Cache"
          command: |
            print "Busting GitHub Image Cache"
            which curl
            which grep
            which xargs
            curl -s https://github.com/erickrawczyk/resume/blob/master/README.md > readme.html
            grep -Eo '<img src=\\"[^"]+\\"' readme.html | grep camo | grep -Eo 'https[^"\\]+' | xargs -I {} curl -w "\n" -s -X PURGE {}
            exit 0
workflows:
  export-and-release:
    jobs:
      - build-and-export
      - release-pdf:
          requires:
            - build-and-export
          filters:
            branches:
              only: main
      - release-jpg:
          requires:
            - build-and-export
          filters:
            branches:
              only: main
      - bust-github-image-cache:
          requires:
            - release-pdf
            - release-jpg
          # filters:
          # branches:
          # only: main
